<?xml version="1.0" encoding="utf-8"?>
<EMap>
	<WebService namespace = "http://www.emap.com/" server = "192.168.200.100" port = "80" protocol = "http://" soapversion = "1.1">
		<Register name = "UserRegister" path = "/EMapWebServices/EMapDBServices.asmx" var1name = "var1" resultname = "UserRegisterResult"/>
		<Login name = "UserLogin" path = "/EMapWebServices/EMapDBServices.asmx" var1name = "var1" resultname = "UserLoginResult"/>
	</WebService>
</EMap>