<?xml version="1.0" encoding="utf-8"?>
<EMap>
	<WebService namespace = "http://www.epri.sgcc.com.cn/" server = "192.168.200.99" protocol = "http://">
		<Register name = "UserRegister" path = "/EMapWebServices/EMapDBServices.asmx" var1name = "userInfo" resultname = "UserRegisterResult"/>
		<Login name = "UserLogin" path = "/EMapWebServices/EMapDBServices.asmx" var1name = "userInfo" resultname = "UserLoginResult"/>
	</WebService>
</EMap>