<?xml version="1.0" encoding="utf-8"?>
<EMap>
	<WebService NameSpace = "http://www.emap.com/" Server = "192.168.200.100" Port = "80" Protocol = "http://" SoapVersion = "1.1">
		<Register Method = "UserRegister" UrlPath = "/EMapWebServices/EMapDBServices.asmx" Param1Name = "userInfo" ReturnParamName = "UserRegisterResult"/>
		<Login Method = "UserLogin" UrlPath = "/EMapWebServices/EMapDBServices.asmx" Param1Name = "userInfo" ReturnParamName = "UserLoginResult"/>
	</WebService>
</EMap>