13,中心断面点,绘图
21,左断面点,绘图
31,右断面点,绘图
41,电线跨越中心断面的顶点,绘图
42,边线杆顶,绘图
43,危险点,绘图
44,左风偏点,绘图
45,右风偏点,绘图
46,电线跨越边线的顶点,绘图
47,电线跨越中心断面正好是电杆顶点,绘图
49,左边线倒顶,绘图
50,右边线倒顶,绘图
89,一点房顶点,绘图
94,辅助点,绘图
96,中线桩,绘图
100,小三角点,测量控制点
108,水准点,测量控制点
109,埋石图根点,测量控制点
113,卫星定位连续运行站点,居民地及设施 
116,公墓,居民地及设施 
117,火力发电厂,居民地及设施 
118,水力发电厂,居民地及设施 
119,矿井井口,居民地及设施 
141,水文站,居民地及设施 
171,地面上的窑洞,居民地及设施 
174,地面下的窑洞,居民地及设施 
175,蒙古包、放牧点,交通
176,方形的支柱,交通
178,圆形的支柱,居民地及设施 
179,单幢房屋,植被与土质
181,直线桩,测量控制点
182,临时桩,测量控制点
183,转角桩,居民地及设施 
184,饲养场、打谷场,居民地及设施 
201,发电厂,居民地及设施 
209,盐井,居民地及设施 
210,管道井,居民地及设施 
211,钻孔,居民地及设施 
212,浅井,居民地及设施 
216,起重机,居民地及设施 
249,液、体贮存设备,居民地及设施 
250,加油站、加气站,交通
251,气象台,居民地及设施 
252,烟囱,居民地及设施 
253,变电室,居民地及设施 
255,露天设备,居民地及设施 
259,科学观测站,居民地及设施 
260,游乐场,居民地及设施 
262,飞机场,居民地及设施 
264,学校,居民地及设施 
265,医疗点,居民地及设施 
266,假石山,居民地及设施 
293,沼泽,地貌
301,纪念碑、北回归线标志塔,居民地及设施 
302,碑、柱、墩,居民地及设施 
303,纪念像、艺术塑像,居民地及设施 
305,文物碑石,居民地及设施 
306,宣传橱窗、广告牌,居民地及设施 
307,亭,居民地及设施 
308,岗亭、岗楼,居民地及设施 
309,钟楼、鼓楼、城楼、古关塞,居民地及设施 
310,旧碉堡、旧地堡,居民地及设施 
311,庙宇,居民地及设施 
312,土地庙,居民地及设施 
313,教堂,居民地及设施 
314,清真寺,居民地及设施 
315,敖包、经堆、麻尼堆,居民地及设施 
316,宝塔、经塔、纪念塔,居民地及设施 
317,独立大坟,居民地及设施 
318,坟地、公墓,居民地及设施 
319,塔型建筑物,居民地及设施 
320,水塔,居民地及设施 
321,水塔、烟囱,居民地及设施 
324,电视发射塔,居民地及设施 
325,移动通信塔、微波传送塔,居民地及设施 
326,雷达站,居民地及设施 
327,环保检测站,居民地及设施 
328,窑,居民地及设施 
329,粮仓,居民地及设施 
330,有树的坟地,居民地及设施 
331,风磨房、风车,居民地及设施 
332,水磨房,居民地及设施 
333,扬水站、水轮泵、抽水站,水系
334,积肥池,居民地及设施 
335,地下建筑物出入口,居民地及设施 
346,温室、大棚,居民地及设施 
347,地震台,居民地及设施 
348,天文台,居民地及设施 
349,彩门、牌坊、牌楼,居民地及设施 
350,粪池、沙地,植被与土质
351,砂砾地,植被与土质
352,盐碱地,植被与土质
353,小草丘地,植被与土质
354,龟裂地,植被与土质
356,残丘地,居民地及设施 
358,露天体育场、网球场、运动场、球场,植被与土质
368,烽火台,居民地及设施 
369,白板地,居民地及设施 
439,海上平台,交通
440,信号灯、柱,交通
443,水鹤,交通
444,车挡,交通
445,机车转盘,交通
451,路标,交通
452,汽车站,居民地及设施 
455,停车场,交通
456,古迹、遗迹,居民地及设施 
460,中国公路零公里标志,交通
499,水运港客运站,管线
500,高压输电线,管线
501,电杆,管线
502,低压电力线,管线
503,通信线,管线
505,电线杆上的变压器,管线
509,地下电力线的箭头,管线
530,地下检修井,居民地及设施 
640,不依比例的人行桥,交通
642,不依比例的级面桥、人行拱桥,交通
644,车行桥、漫水桥、浮桥,交通
650,能通车的水闸,水系
651,不能通车的水闸,水系
652,能通车的拦水坝,水系
654,台阶,居民地及设施 
655,不能通车的拦水坝,水系
656,停泊场,交通
657,干船坞,交通
658,固定堤岸式码头,交通
659,浮码头,交通
660,能通车的船闸闸门,交通
661,不能通车的船闸闸门,交通
662,放空火炬,居民地及设施 
663,盐田,居民地及设施 
664,灯塔,交通
665,灯桩,交通
666,灯船,交通
667,浮标、灯浮标,交通
669,系船浮筒,交通
670,岸标、立标,交通
672,信号杆,交通
676,地热井,水系
677,水井、机井,水系
678,泉,水系
679,贮水池、水窖,水系
697,单个明礁,水系
699,单个干出礁,水系
711,单个暗礁,管线
712,杆位符号,地貌
713,岩峰、黄土柱,地貌
714,土堆、贝壳堆、矿渣堆不依比例,地貌
715,火山口,地貌
716,坑穴,地貌
720,山洞、溶洞,地貌
815,独立石,地貌
816,石堆,地貌
820,沙卵石,地貌
910,岩溶漏斗,水系
911,河流流向及流速,水系
912,流水线的箭头1,水系
920,流水线的箭头2,水系
921,半荒草地,植被与土质
922,芦苇地,植被与土质
924,成林,植被与土质
925,零星树木,植被与土质
927,阔叶独立树,植被与土质
928,针叶独立树,植被与土质
929,果树独立树,植被与土质
931,幼林,植被与土质
932,疏林,植被与土质
933,小面积竹林,植被与土质
935,稀疏灌木林,植被与土质
936,密集灌木林,植被与土质
937,小面积灌木林、灌木丛,植被与土质
938,小面积树林,植被与土质
941,苗圃,植被与土质
942,草地,植被与土质
943,湿草地,植被与土质
945,植物稀少地,植被与土质
946,经济林,植被与土质
947,经济作物地,植被与土质
948,水生作物地,植被与土质
950,旱地,植被与土质
953,针叶独立树丛,植被与土质
954,阔叶独立树丛,植被与土质
955,针阔混交树丛,植被与土质
956,棕榈、椰子、槟榔独立树丛,植被与土质
957,独立树丛,植被与土质
981,高树,植被与土质
982,矮树,植被与土质